.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #20cdda;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.crud {
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
}
table td{
  width:200px;
  height: 30px;
  border: 1px solid white;
  background-color: rgb(54,135, 211);
  text-align: center;
  color: white;
}
table td  button{
  padding: 5px 10px;
  border-radius: 5%;
}
table td button.edit{
  border:1px solid green;
  background-color: rgb(7, 168, 7);
  color:white;
}
table td button.edit:hover {
  background-color: rgb(3, 71, 3);
}
table td button.delete {
  border: 1px solid red;
  background-color:  rgb(219, 19 , 19);
  color: white;
}
table td button.delete:hover {
  background-color: rgb(92, 5, 5);
}
.App-link {
  color: #61dafb;
}
 button {
  border-radius: 5%;
 
  cursor:pointer;
}
 button.edit {
  border: 1px solid green;
  background-color: rgb(7,168,7);
  color: aliceblue;
}
 button.edit:hover {
  background-color: rgb(3,71,3);
}
 button.delete {
  border: 1px solid red;
  background-color: rgb(219,19,19);
  color: aliceblue;
}
 button.delete:hover {
  background-color: rgb(92,5,5);
}
.addform
{
  margin-bottom: 30px;

}
.addform input
{
 width:230px;
 height:35px;
}
.addform button {
  width:140px;
  height:35px;
  color:aliceblue;
  
  cursor: pointer;
}
.addform button:hover {

  background-color: rgb(5,86,5);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
